<p>gog-global-component works!</p>
<mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{gameProvider}}</mat-card-title>
            <mat-card-subtitle>Show all your games</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/id/1047/200/250" alt="Photo of a Shiba Inu">
        <mat-card-content>
            
            <!--https://picsum.photos/id/1047/1920/1080-->
            <!--https://picsum.photos/id/160/1920/1080-->
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">gogapidocs</button>
            <a mat-raised-button routerLink="https://gogapidocs.readthedocs.io/en/latest/">API</a>
        </mat-card-actions>
    </mat-card>
